body {
    background-color: #FFFAF3;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

ul {
    display: flex;
    align-items: center;
}

li {
    padding-left: 30px;
    padding-right: 30px;
    list-style-type: none;
}



.entry {
    padding: 13px 26px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
    background: transparent;
}

.infoContent,
.introduce {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}

.about {
    margin-top: 5vh;
    margin-left: 5vw;
    width: 50vw;
}

.moto {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 75px;
    line-height: 85px;
    margin-top: 25px;
    margin-bottom: 25px;
}

span {
    font-style: normal;
}

.makeEntry {
    display: flex;
    align-items: center;
    margin-top: 10vh;
    margin-left: 5vw;
}

.price {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    margin-left: 60px;
    color: black;
}

.foto {
    margin-top: 10vh;
    margin-left: 5vw;
}

.infoContent {
    text-align: center;
}

img {
    position: absolute;
    z-index: -1;
    top: 10vh;
    left: 0vw;
}

.mainFoto {
    position: absolute;
    top: 25vh;
    left: 50vw;
}

.circle {
    position: absolute;
    z-index: -1;
    top: 30vh;
    left: 60vw;
}

.advInfo {
    display: grid;
    grid-template-columns: repeat(3, 13vw);
    column-gap: 10vw;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin-top: 10vh;


}

.infoHead {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.narrow {
    padding-left: 30px;
    padding-right: 30px;
}